$background-color: rgba(248, 248, 248, 0.4);
$primary-color: #010d1a;
$secondary-color: #708ea9;

$link-color: #031525;
$hover-color: darken($link-color, 10%);
$visited-color: lighten($link-color, 10%);