$background-color: rgba(248, 248, 248, 0.4);
$primary-color: #0d60b8;
$secondary-color: #708ea9;

$link-color: #0a3860;
$hover-color: darken($link-color, 10%);
$visited-color: lighten($link-color, 20%);