@import '../styles/variables';

.lottery-title {
  color: white;
  text-shadow: -1px -1px 0 rgb(117, 125, 235),
              1px -1px 0 rgb(117, 125, 235),
              -1px 1px 0 rgb(117, 125, 235),
              1px 1px 0 rgb(117, 125, 235);
  margin: 0;
}

.lottery-description {
  color: white;
  margin: 1em;
}

.lottery-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: max-content;
  justify-content: center;

  a {
    color: $link-color-light;
    text-decoration: none;
    background: transparent;

    &:hover {
      color: $hover-color-light;
      font-weight: 500;
      border-bottom: 1px solid $hover-color-light;
    }

    &:visited {
      color: #bceab2;
      border-color: $visited-color-light;
    }
  }
}

.lottery-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: max-content;
  background: rgba(255, 255, 255, 0.4);
  padding: 2em;
}


@media (max-width: 768px) {
    .home-body {
      font-size: 15px;
    }
    .lottery-description, .description {
      font-size: 13px;
      font-weight: 400;
    }
  }
  