@import '../styles/_variables';
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

.navi {
  background-color: black;
  font-family: 'Capriola', sans-serif;

  .navi-title-icon {
    font-size: 2rem;
    margin-right: 1rem;
  }

  .navi-title {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1em;
    letter-spacing: .3rem;
    font-family: 'Capriola', sans-serif;
  }

  a {
    color: $link-color-light;
    text-decoration: none;
    background: transparent;
    transition: background 1s ease;

    &:hover {
      color: $hover-color-light;
    }

    &:visited {
      color: $visited-color-light;
    }
  }

  .menu-item {
    font-weight: 700;

    a {
      color: $link-color-light;
      text-decoration: none;
      background: transparent;
      transition: background 1s ease;

      &:hover {
        color: $hover-color-light;
        font-weight: 700;
      }

      &:visited {
        color: $visited-color-light;
      }
    }
  }
}
