@import '../styles/variables';

.pomodoro-title {
  color: white;
  text-shadow: -2px -2px 0 rgb(209, 2, 2),
              1px -1px 0 red,
              -1px 1px 0 red,
              1px 1px 0 red;
  margin: 0;
}

.pomodoro-description {
  color: white;
  margin: 1em;
}

.pomodoro-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: max-content;
  justify-content: center;

  a {
    color: $link-color-light;
    text-decoration: none;
    background: transparent;

    &:hover {
      color: $hover-color-light;
      font-weight: 500;
      border-bottom: 1px solid $hover-color-light;
    }

    &:visited {
      color: #bceab2;
      border-color: $visited-color-light;
    }
  }
}

.pomodoro-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: max-content;
  background: rgba(255, 255, 255, 0.4);
  padding: 2em;
}

.pomodoroTab.Mui-selected {
  font-weight: 600;
}

.pomodoroTime {
  color: #af1b3f;
}

.shortBreak {
  color: #404e7c;
}

.longBreak {
  color: #251f47;
}

.clock-time,
.clock-play {
  font-size: 2.8em;
  font-weight: 600;
  margin-top: 0.4em;
}

.button-start {
  color: white;
  background: linear-gradient(to right, #2b9348, #bf0603);
  font-weight: bold;
}

.button-adjust {
  font-size: 3em;
  color: black;
  margin-top: -0.5em;
}

@media (max-width: 768px) {
  .home-body {
    font-size: 15px;
  }
  .pomodoro-description, .description {
    font-size: 13px;
    font-weight: 400;
  }
}
