@import '../styles/variables';

.counter-body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter-title {
  text-shadow: -1px -1px 0 rgb(155, 123, 7),
              1px -1px 0 rgb(155, 123, 7),
              -1px 1px 0 rgb(155, 123, 7),
              1px 1px 0 rgb(155, 123, 7);
  margin: 0;
}

.counter-description {
  margin: 1em;
  font-weight: 300;
}

.counter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: max-content;
  background: rgba(244, 241, 216, 0.5);
  padding: 1.5em 2em;
  min-width: 500px;
}

button.counter-button {
    background: linear-gradient(to right, #e29c3a, #6b5103);
    color: white;
    font-weight: 500;
    margin: 10px 5px;
    padding: .5em 1em;

  &:hover {
    border-bottom: 1px solid $hover-color-light;
    box-shadow: 2;
    border-color: #e8dce7;
  }
}

.counter-result {
    font-size: 1.3em;
    color: black;
    padding: .3em;
  }
.counter-number {
  color: #885a03;
  font-weight: 600;
}


@media (max-width: 768px) {
  .home-body {
    font-size: 15px;
  }
  .counter-description, .counter-box {
    font-size: 13px;
  }
}
