
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (max-width: 768px) {
  body {
    background-size: contain;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body {
  display: flex;
  flex-direction:row;
  align-items: center;
  min-width: fit-content;
  font-size: 2vmin;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home {
  background-image: url("../public/images/home.jpg"); 
}
.pomodoro {
  background-image: url("../public/images/pomodoro.jpg"); 
}
.lotto {
  background-image: url("../public/images/lotto.jpg"); 
}
.timer {
  background-image: url("../public/images/timer.jpg"); 
}
.wordcounter {
  background-image: url("../public/images/wordcounter.jpg"); 
}


.menuTitle {
  font-size: 1em;
}

.home-body {
  margin-top: -8em;
}
.home-desc {
  color: rgb(41, 47, 44);
}

.home-git {
  margin-top: 1em;
}

.home-icon {
  font-size: 30;
  color: black;
  margin-right: 0.5rem;
  vertical-align: middle;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
