@import './styles/variables';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (max-width: 768px) {
  body {
    background-size: contain;
  }
  .home-body {
    font-size: 15px;
  }
  .home-desc {
    font-size: 13px;
  }
}

.App-header {
  display: flex;
  justify-content: center;
  color: white;
}


.App-body {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: flex-start;
  min-width: fit-content;
  font-size: 2vmin;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .App-content {
    margin-top: 3em;
    align-items: center;
  }

  a {
    color: $link-color-light;
    text-decoration: none;
    background: transparent;

    &:hover {
      color: $hover-color-light;
      font-weight: 500;
      border-bottom: 1px solid $hover-color-light;
    }

    &:visited {
      color: #bceab2;
      border-color: $visited-color-light;
    }
  }
}

.home {
  background-image: url("./assets/images/home.jpg"); 
}
.pomodoro {
  background-image: url("./assets/images/pomodoro.jpg"); 
}
.lotto {
  background-image: url("./assets/images/lotto.jpg"); 
}
.timer {
  background-image: url("./assets/images/timer.jpg"); 
}
.wordcounter {
  background-image: url("./assets/images/wordcounter.jpg"); 
}


.home-body {
  padding: 3vmin;
}
.home-desc {
  color: rgb(41, 47, 44);
}

.home-git {
  margin-top: 1em;
}

.home-icon {
  font-size: 30;
  color: black;
  margin-right: 0.5rem;
  vertical-align: middle;
}

